<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Login{% endblock %}</title>
    <!--<link rel="stylesheet" type="text/css" href="/styles/main.css">-->
</head>
<body>
<section id="content">
    {% block content %}
    <form action="/login" method="post">
        <!--<input type="hidden" name="_csrf" value="{csrfToken}"/>-->
        <p>
            <label>Username:
                <input type="text" name="username" value="test"/>
            </label>
        </p>
        <p>
            <label>Password:
                <input type="password" name="password" value="test"/>
            </label>
        </p>
        <p>
            <button type="submit">Log In</button>
        </p>
    </form>
    {% endblock %}
</section>
</body>
</html>
