{% extends 'layouts/default.html' %}
{% block title %}Login{% endblock %}

{% block content %}
{{ content }}
<form action="/login" method="post">
    <!--<input type="hidden" name="_csrf" value="{csrfToken}"/>-->
    <p>
        <label>Username:
            <input type="text" name="username" value="test"/>
        </label>
    </p>
    <p>
        <label>Password:
            <input type="password" name="password" value="test"/>
        </label>
    </p>
    <p>
        <button type="submit">Log In</button>
    </p>
</form>
{% endblock %}